:root {
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #555555;
  --primary-bkg-color: #ffffff;
  --secondary-bkg-color: #f7f7f7;
  --accent-color: #ff6c00;
  --suptitle-text-color-theme-dark: rgba(157, 164, 189, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-bkg-color);
}

/* ==========COMPONENTS========== */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-btn {
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--accent-color);
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-light);
}

.media-list-link:hover,
.media-list-link:focus,
.media-list-link:active {
  color: var(--accent-color);
}

.suptitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
/* ==========/COMPONENTS========== */

/* ==========HEADER========== */
.page-header-container {
  display: flex;
  align-items: center;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 131px;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--accent-color);
}

.tel-and-button {
  background-color: var(--primary-text-color-theme-light);
  margin-left: auto;
}

.tel-and-button > .menu-link {
  margin-right: 43px;
}

.tel-and-button > .modal-btn {
  margin-right: 17px;
  color: var(--secondary-text-color-theme-dark);
}

/* ==========/HEADER========== */

/* ==========MAIN========== */
/* ==========Hero========== */
.hero-container {
  display: flex;
}

.hero-left-side {
  width: 100px;
}

.media-list {
  display: flex;
  align-items: center;
}

.media-list-item:not(:last-child) {
  margin-right: 40px;
}

.media-list-item {
  display: flex;
  align-items: center;
}

.media-list-item:first-child::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--primary-text-color-theme-light);
}

.media-list-hero {
  transform: rotate(-90deg) translateX(-370px) translateY(25px);
  transform-origin: left top;
}

.hero-right-side {
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;
  flex-grow: 1;
  background-color: var(--primary-text-color-theme-light);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero/hero-bcg-1.jpg);
  background-size: cover;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--secondary-text-color-theme-dark);
}

.hero-right-side .suptitle {
  color: var(--suptitle-text-color-theme-dark);
}

.hero-right-side .section-description {
  max-width: 360px;
  color: var(--primary-text-color-theme-dark);
}
/* ==========/Hero========== */

/* ==========About========== */
.about-section .container {
  display: flex;
  gap: 30px;
}

.our-services-img {
  display: flex;
  gap: 30px;
}

.about-section-content {
  width: 470px;
}

.about-section .suptitle {
  color: var(--primary-text-color-theme-light);
}

.about-section .suptitle::before {
  background-color: var(--primary-text-color-theme-light);
}

.about-section .section-title {
  margin-bottom: 20px;
  color: var(--primary-text-color-theme-light);
}

.about-section .section-description {
  margin-bottom: 20px;
  color: var(--secondary-text-color-theme-light);
}

.about-section .text {
  margin-bottom: 42px;
  color: var(--secondary-text-color-theme-light);
}

.about-section > .modal-btn {
  color: var(--primary-text-color-theme-light);
  background-color: var(--secondary-text-color-theme-dark);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--accent-color);
}
/* ==========/About========== */

/* ==========Services and prices========== */
.services-section {
  background-color: var(--primary-text-color-theme-light);
}

.services-section .suptitle {
  color: var(--suptitle-text-color-theme-dark);
}

.services-section .section-title {
  margin-bottom: 44px;
  color: var(--secondary-text-color-theme-dark);
}

.services-section-table {
  display: flex;
}

.services-section .price-list {
  color: var(--primary-text-color-theme-dark);
}

.services-section .modal-btn {
  color: var(--secondary-text-color-theme-dark);
}
/* ==========/Services and prices========== */

/* ==========Why people come to us?========== */

.advantages-section .container {
  display: flex;
}

.advantages-item {
  width: 170px;
  height: 133px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  text-align: center;
  background-color: var(--secondary-bkg-color);
}

.advantages-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-text-color-theme-light);
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-text-color-theme-light);
}

.advantages-section .suptitle {
  color: var(--primary-text-color-theme-light);
}

.advantages-section .suptitle::before {
  background-color: var(--primary-text-color-theme-light);
}

.advantages-section .section-title {
  margin-bottom: 20px;
  color: var(--primary-text-color-theme-light);
}

.advantages-section .section-description {
  color: var(--secondary-text-color-theme-light);
}
/* ==========/Why people come to us?========== */

/* ==========Our barbers========== */
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-list-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.barbers-list-content {
  padding-top: 30px;
}

.our-barbers-section {
  background-color: var(--secondary-bkg-color);
}

.social-networks-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color-theme-dark);
  border-radius: 50%;
}

.social-networks-icon {
  fill: var(--primary-text-color-theme-light);
}

.social-networks-link:hover .social-networks-icon,
.social-networks-link:focus .social-networks-icon {
  fill: var(--accent-color);
}

.our-barbers-section .suptitle {
  color: var(--primary-text-color-theme-light);
}

.our-barbers-section .suptitle::before {
  background-color: var(--primary-text-color-theme-light);
}

.our-barbers-section .section-title {
  margin-bottom: 44px;
  color: var(--primary-text-color-theme-light);
}

.our-barbers-section .subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: var(--primary-text-color-theme-light);
}

.our-barbers-section .submenu-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 30px;
  color: var(--accent-color);
}
/* ==========/Our barbers========== */

/* ==========Photo gallery========== */
.gallery-section .suptitle {
  color: var(--primary-text-color-theme-light);
  margin-bottom: 44px;
}

.gallery-section .suptitle::before {
  background-color: var(--primary-text-color-theme-light);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* ==========/Photo gallery========== */

/* ==========Online-booking and Contacts========== */
.online-booking {
  background-color: var(--primary-text-color-theme-light);
}

.online-booking {
  padding-top: 130px;
}

.online-booking .container {
  display: flex;
}

.online-booking-section {
  padding-left: 219px;
}

.online-booking-section .section-title {
  color: var(--secondary-text-color-theme-dark);
}

.contacts-section {
  margin-left: 130px;
}

.contacts-section .section-title {
  margin-bottom: 40px;
  color: var(--secondary-text-color-theme-dark);
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-list {
  margin-bottom: 70px;
}
.contacts-section .section-description {
  color: #9da4bd;
}

.contacts-section .map {
  font-weight: 700;
}

.contacts-section .suptitle {
  color: var(--secondary-text-color-theme-dark);
}
/* ==========/Online-booking and Contacts========== */
/* ==========/MAIN========== */

/* ==========FOOTER========== */

.footer-section {
  background-color: var(--secondary-bkg-color);
}

.footer-section-container {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 56px;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
/* ==========/FOOTER========== */
